<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Products</title>
</head>
<body>
    {{>header}}
    <div class="home">
        <img src={{img}}>
        <h3>name: {{name}}</h3>
        <p>age: {{age}}</p>
        <p>city: {{city}}</p>
        <p>nationality: {{nationality}}</p>
        <p>phone: {{phoneNumber}}</p>
    </div>
    {{>footer}}
    
</body>
</html>